.ql-editor{
    min-height: 60vh;
    font-size: large;
}

.textpad{
    border: 1px solid slategrey;
    border-radius: 1rem;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}
